.header {
  background: linear-gradient(135deg, #ca61c3, #7f4ee3);

  .innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .imageLogo {
      object-fit: contain;
    }
  }
}
