:root {
  --black: #0f0f0f;
  --white: #fff;
  --viol: #7f4ee3;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--black);
  min-height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s ease;

  &:hover {
    transition: 0.2s ease;
    color: var(--viol);
  }
}

ul {
  list-style: none;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}
